@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=M+PLUS+Rounded+1c:wght@900&display=swap');
@import 'tailwindcss';

:root {
   font-family: 'Dosis', system-ui;
   line-height: 1;
   font-optical-sizing: auto;
}

h1,
.mPlusFont {
   font-family: 'M PLUS Rounded 1c', sans-serif;
}

.stroke-text {
   filter: drop-shadow(2px 2px #3d2604) drop-shadow(2px -2px #3d2604)
      drop-shadow(-2px 2px #3d2604) drop-shadow(-2px -2px #3d2604);
}
